<!-- 
------- HEADER ------------
Filename: about.ejs
Student name: Amanda Yuri Monteiro Ike
Student ID: 301257019
Date: February, 2023 
---------------------------
-->

<div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>

    <div class="card mb-3" style="max-width: 840px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="Assets/images/imgAmandaIke.jpg" class="img-fluid rounded-start" > <!--  alt="..." -->
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Amanda Yuri Monteiro Ike</h5>
              <p class="card-text"><small class="text-muted"> <%= location_info %> </small></p>
              <p class="lead"> <%= p1 %> </p>
              <p class="card-text"> <%= p2 %>  </p>
              <p class="card-text"> <%= p3 %>  </p>
              
              <p class="lead">
                <a class="btn btn-info" href="/Assets/ResumeAmandaIke.pdf" role="button" target="_blank">Resume</a>
              </p>
            </div>
          </div>
        </div>
      </div>
</div>