<!-- 
------- HEADER ------------
Filename: error.ejs
Student name: Amanda Yuri Monteiro Ike
Student ID: 301257019
Date: February, 2023 
---------------------------
-->

<%- include ("header.ejs")  %>

<%- include ("main_nav.ejs")  %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
<div class="container">



<%- include ("bottom_nav.ejs")  %>

<%- include ("footer.ejs")  %>