
<!-- 
------- HEADER ------------
Filename: index.ejs
Student name: Amanda Yuri Monteiro Ike
Student ID: 301257019
Date: February, 2023 
---------------------------
-->

<%- include ("header.ejs") %>


<%- include ("main_nav.ejs") %>

  <!-- Main Content -->
  <!-- Reference: https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
  <main class="container">
    
  <!--


  -->

 
  <% if (page_name == "Home"){ %>
    <%- include ("./partials/home.ejs") %>
  <%} if (page_name == "About"){ %>
    <%- include ("./partials/about.ejs") %>
  <%} if (page_name == "Projects"){ %>
      <%- include ("./partials/projects.ejs") %>
  <%} if (page_name == "Services"){ %>
      <%- include ("./partials/services.ejs") %>
  <%} if (page_name == "Contact Me"){ %>
    <%- include ("./partials/contact.ejs") %>
  <% }  if (page_name == "Business Contact"){ %>
    <%- include ("./contact/list.ejs") %>
  <% } %>

</main>
  <!-- Main Content END -->
  
  <%- include ("bottom_nav.ejs") %>

  <%- include ("footer.ejs") %>

