<!-- 
------- HEADER ------------
Filename: list.ejs
Student name: Amanda Yuri Monteiro Ike
Student ID: 301257019
Date: February, 2023 
---------------------------
-->

<%- include ("../header.ejs") %>


<%- include ("../main_nav.ejs") %>

  <!-- Main Content -->
  <!-- Reference: https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
<main class="container">
    
    <div class="row">
        <div class="col-md-offset-2 col-md-9">
            <h1><%= page_name  %></h1>
            </br>
            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/contact-list/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Contact
                </a>
                </br>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header row -->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-4">Name</th>
                        <th class="text-center col-2">Phonenumber</th>
                        <th class="text-center col-4">Email</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } else { %>
                        <th class="text-center col-4">Name</th>
                        <th class="text-center col-3">Phonenumber</th>
                        <th class="text-center col-5">Email</th>
                    <% } %>
                </tr>

                <!-- Repeatable template row -->
                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr class="d-flex">
                        <!-- If user is authorized -->
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-4"><%= ContactList[count].name %></td>
                            <td class="text-center col-2"><%= ContactList[count].phonenumber %></td>
                            <td class="text-center col-4"><%= ContactList[count].email %></td>
                            <td class="text-center col-1">
                                <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                        <% } else { %>
                            <td class="text-center col-4"><%= ContactList[count].name %></td>
                            <td class="text-center col-3"><%= ContactList[count].phonenumber %></td>
                            <td class="text-center col-5"><%= ContactList[count].email %></td>
                        <% } %>
                    </tr>
                <% } %>
                    
                
            </table>
        </div>
    </div>

</main>
  <!-- Main Content END -->
  
<%- include ("../bottom_nav.ejs") %>

<%- include ("../footer.ejs") %>

